.bg {
  background-color:  rgb(1, 2, 51);
  background-size: 100%;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

#btn1, #btn2, #btn3, #btn4 {
  background-color: blueviolet;
  width: 250px;
  font-size: 20px;
  color: white;
  border: 1px solid #1d3a6d;
  border-radius: 30px;
  margin: 10px 40px 10px 0px;
  padding: 10px 10px;
}

#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover {
  cursor: pointer;
  color: aquamarine;
}

#btnNext {
  background-color: rgb(245, 143, 9);
  width: 250px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  border: 1px solid #1d3a6d;
  border-radius: 50px;
  padding: 10px 10px;
  margin-bottom: 20px;
}

#btnNext:hover {
  cursor: pointer;
  color: blueviolet;
}

.btnGreen{
  background: rgb(1, 104, 56) !important;
}

.btnError{
  background: rgb(128, 3, 9)!important;
}

#btn1:focus, #btn2:focus, #btn3:focus, #btn4:focus {
  outline: 0px;
}

.white {
  color: white;
}

.orange {
  color: orangered;
}
